---
BasedOnStyle: LLVM
Language: Cpp
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AlignTrailingComments: true
ColumnLimit: 100
CommentPragmas: ""
IndentPPDirectives: AfterHash
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertBraces: true
InsertNewlineAtEOF: true
NamespaceIndentation: Inner
PackConstructorInitializers: NextLine
PointerAlignment: Left
QualifierAlignment: Left
SpaceAfterTemplateKeyword: false
Standard: c++20
TabWidth: 4

