---
BasedOnStyle: LLVM
Language: Cpp
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: false
  AfterControlStatement: true
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterUnion: true
  AfterNamespace: false
  BeforeLambdaBody: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyNamespace: true
  SplitEmptyRecord: true
  SplitEmptyFunction: true
AlwaysBreakTemplateDeclarations: Yes
AlignEscapedNewlines: Left
AlignTrailingComments: true
ColumnLimit: 100
CommentPragmas: ""
IndentPPDirectives: AfterHash
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertNewlineAtEOF: true
NamespaceIndentation: Inner
PackConstructorInitializers: NextLine
PointerAlignment: Left
QualifierAlignment: Left
SpaceAfterTemplateKeyword: false
Standard: c++20
TabWidth: 4
