---
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignEscapedNewlines: Left
ColumnLimit: 100
CommentPragmas: ""
IndentPPDirectives: AfterHash
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertBraces: true
InsertNewlineAtEOF: true
NamespaceIndentation: Inner
PackConstructorInitializers: NextLine
PointerAlignment: Left
QualifierAlignment: Left
SpaceAfterTemplateKeyword: false
Standard: c++20
TabWidth: 4

